<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Transactions</title>
</head>
<body>
    <h1>All Transactions</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Date/Time</th>
            <th>Type</th>
        </tr>
        {% for t in transactions %}
        <tr>
            <td>{{ t.id }}</td>
            <td>{{ t.description }}</td>
            <td>{{ t.category }}</td>
            <td>{{ t.amount }}</td>
            <td>{{ t.datetime }}</td>
            <td>{{ t.type }}</td>
        </tr>
        {% endfor %}
    </table>

<br>
    <a href="/income" style="">Income Transactions</a>
<br>
    <a href="/income" style="">Expense Transactions</a>

</body>
</html>
